form {
  /* left: 15; */
  width: 60%;
  /* display: flex;
  box-sizing: border-box; */
  padding: 0.25rem;
  margin-left: 5%;
}

#messages {
  margin-bottom: 3rem;
}

#messages li {
  padding: 0.5rem;
  list-style-type: none;
}

#messages li:nth-child(odd) {
  background: #eee;
}
